{% extends "base.html" %}
{% block title %} {{ category.name}} {% endblock %}
{% block style %}
    <style>
        .disabled_link{
            color:red;
        }
        .list-group-item{
            font-size: 15px;
        }
        .list-group{
            padding-bottom:10px;
            font-size:25px;
        }
        .list-group-horizontal{
            display:block;
        }
        .dropdown-menu{
            width: 200px !important;
        }
        .source_counter{
            display:block;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block javascript %}
    <script>
        $(
        function(){
            $("[data-toggle=popover]").popover();
        }
    );
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-primary">{{ category.name }}</h1>
        <div class="btn-group dropdown">
            <a class="btn btn-light dropdown-toggle" data-toggle="dropdown" href="#">
                Więcej<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                    <li class="list-group-item btn btn-light"><b>
                        <a class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-dark" href="/category/{{ category.id }}/tags/new">Dodaj tagi</a></b>
                    </li>
                     <li class="list-group-item btn btn-light">
                    <b>
                        <a class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-dark" href="/category/{{ category.id }}/source">Źródła</a>
                    </b>
                    </li>
                    <li class="list-group-item btn btn-light"><b>
                        <a class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-dark" href="/category/{{ category.id }}/source/new">Nowe źródło?</a>
                    </b></li>
            </ul>
            </div>
            <div>
                    <h5 class="text-info source_counter">Masz {{ no_of_sources }} źródeł</h5>
                </div>
        {% if category.search_tags.all|length > 0 %}
        <div class="col-12">
            <h6>Tagi: </h6>
                <ul data-toggle="tooltip"
                    title="Tagi po których prowadzone jest wyszukiwanie w danej kategorii, możesz dodać własne tagi poprzez link powyżej"
                    class="list-group list-group-horizontal">
                {% for tag in category.search_tags.all %}
                    <li class="badge badge-pill badge-info"> <span>{{ tag.name }} </span> <span><a
                        onclick="confirm('Czy na pewno chcesz usunąć tag: {{ tag.name }}?')"
                        href="/category/{{ category.id }}/tags/{{ tag.id }}/delete">
                    <i data-toggle="tooltip" title="Usuń ten tag" class="fa fa-remove"> </i></a></span> </li>
                {% endfor %}
                </ul>
        </div>
     {% endif %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Opublikowane</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Strona</th>
            </tr>
        </thead>
        <tbody>
             {% for line in articles %}
                <tr>
                    <td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">{{ line.published }}</td>
                    <td class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                        {% if '---' not in line.url %}
                            <a target="_blank" href="{{ line.url }}">{{ line.title }}</a>
                        {% else %}
                            <a  data-toggle="popover" data-place="top" data-content="Niestety, dla tego newsa nie udało znaleźć się linka, feed RSS dla tej strony prawdopodobnie ich nie zawiera" class="disabled_link text-danger">{{ line.title }}</a>
                        {% endif %}
                    </td>
                    <td class="col-lg-2 col-md-2 col-sm-3 col-xs-3">{{ line.website }}</td>
                </tr>
             {% empty %}
                <tr>
                    <td style="text-align:center">
                        <h3 class="text-info">Nie można było znaleźć newsów odpowiadających danej kategorii</h3>
                        <h4 class="text-info">
                    <a href="/category/{{ category.id }}/source/new">
                        Możesz to zmienić dodając więcej źródeł
                    </a>
                </h4>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </h1>
{% endblock %}